

div#menu .menu{
	position: absolute;
	list-style:none;
	font-family: Arial, Helvetica, sans-serif;	
	text-transform: uppercase;
	padding: 0px;
	margin: 1px 145px 0px;
	
}

div#menu .menu li{
	position: relative;
	float: left;
	margin: 2px 2px ;
	padding: 2px;
	background-color: #006571;
	border-bottom: 1px solid #144149;
}
div#menu .menu li a{color:white; text-decoration:none; padding:5px 10px; display:block;}

div#menu .menu li a:hover{
	background:#317e90;
	color:#fff;
	
}

div#menu .menu li  ul{
	transition: 1s;	
	position: absolute;
	top: 100%;
	left: 5px;
	background-color:#006571;
	display:none;
	padding: 0px;
	margin: 2px;
	z-index: 1;
	text-align: left;
	border: 1px solid #144149;
	border-radius: 0px 0px 3px 3px;
	}

div#menu .menu li:hover ul, .menu li.over ul{display:block;}


div#menu .menu li ul li{
	
	
	display:block;
	width:150px;
	}


/* aqui e o sharemarkt */

/* header #cabecalho img#icone {
	margin: 0px auto;
} */

header #cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border-bottom: 1px #606060 solid;
	height: 150px;
	background-color: #1b5761;
	
}


header #cabecalho img#carrinho {
	margin: 20px;
} 

header #cabecalho input {
	padding: 10px;
	width: 300px;
	border-radius: 40px;
	border: 1px solid #f9f9f9;
	background-image: url(https://images.vexels.com/media/users/3/143356/isolated/lists/64e14fe0195557e3f18ea3becba3169b-lupa-de-pesquisa.png);
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: right 10px center;
}




div#interface {
width: 900px;
max-width: calc(100% - 40px); 
background-color: #ffffff;
margin: -20px auto 0px auto;
box-shadow: 0px 0px 10px rgba(0,0,0,.5);
padding: 10px;
}

/* corpo */

section   {

text-align: center;

}

section img#check {
    margin-top: 100px;
}

section img#carrinho {
    margin-top: 0px;
}
section p#obrigado {
    font-size: 35px;
    text-transform: uppercase;
    color: green;
    margin-bottom: 0px;
}
section p#sucedida {
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 10px;
    
}

button{
    width: 200px;
    margin-bottom: 30px;
    height: 40px;
    color:  white;
    background-color: #1b5761;
}
/* rodape */

footer#rodape {

	clear: both;
	border-top: 1px solid #606060;
	
}

footer#rodape p {
	text-align: center;
}

